@import "tailwindcss";

@plugin "daisyui" {
    themes: light --default
}

@plugin "daisyui/theme" {
    name: 'light';
    default: true;
    --color-primary: #171717;
    --color-secondary: #0f172a;
    --color-accent: #0ea5e9;
    --color-base-200: #1e293b


}